@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {

background-color: rgb(220, 220, 220);

color: #0f141e;

font-size: 16px;

font-weight: normal;

font-family: 'Roboto', sans-serif;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  color: yellow;
}

a:visited {
  color: rgb(0, 0, 0);
}

.avatar {
  width: 200px;
  border-radius: 28px;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.25);
}

.info {
  margin-bottom: 25px;
}

.info p {
  color: #868990;
  margin: 0%;
  font-style: italic;
}

.container {
max-width: 85%;
margin:auto

}


/*.box-model > div {
float: left;
background-color: #0f141e;
height: 200px;
border: 4px solid red;

width: 25%;
box-sizing: border-box;
}*/

.bg-yelloy {
  background-color: #fff9dc;
}

.bg-green {
  background-color: #e5ffe7;
}

.bg-red {
  background-color: #ffe5e5;
}

.card {
  padding: 15px 25px;
  margin-bottom: 25px;
  border-radius: 25px;
}

.list {
  padding: 0 20px;
}